![alt text](../Assets/Pandas_logo.png)

# pandas: Basics

This notebook contains code examples as a Introduction into Pandas

The documentation of this package can be found here: https://pandas.pydata.org/docs/

## DataFrame

Is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

Doc: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.html

## First Steps

### Importing pandas
The next cell will import the pandas package and will set the max number of rows to display

Doc: https://pandas.pydata.org/docs/user_guide

In [ ]:
import pandas as pd
pd.options.display.max_rows = 10
pd.options.display.min_rows = None

### Reading a csv
Now, you will import a csv file into a dataframe. There are several options for this function, you can check this doc for reference:  https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html?highlight=read_csv#pandas.read_csv

In [ ]:
titanic = pd.read_csv("../Data/titanic.csv")
titanic

In [ ]:
type(titanic)

In [ ]:
titanic_sep = pd.read_csv("../Data/titanic.csv", sep='|', header=None, na_values="other_null")
titanic_sep

### Writing a csv
`to_csv` allows you to write a DataFrame into a csv file, there a plenty options you can leverage on for this process: https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [ ]:
titanic.to_csv('../Data/titanic_from_df.csv')
titanic.to_csv('../Data/titanic_from_df.csv', sep='|', header=False, index=False, na_rep="NAN")

## Basic DF Functions, Attributes and Methods

In [ ]:
titanic.head(2)

In [ ]:
titanic.tail(2)

In [ ]:
titanic.columns

In [ ]:
titanic.index

In [ ]:
titanic.info()

In [ ]:
titanic.dtypes

In [ ]:
titanic.describe()

In [ ]:
len(titanic)

In [ ]:
round(titanic, 0).head()

In [ ]:
titanic.size

## pandas.Series

One-dimensional ndarray with axis labels (including time series).

Doc: https://pandas.pydata.org/docs/reference/api/pandas.Series.html?highlight=series#pandas.Series

In [ ]:
titanic = pd.read_csv("../Data/titanic.csv")
titanic.head()

In [ ]:
titanic["age"]

In [ ]:
type(titanic["age"])

In [ ]:
titanic[["age"]]

In [ ]:
type(titanic[["age"]])

In [ ]:
# titanic["age", "sex"]

In [ ]:
titanic[["age", "sex"]]

In [ ]:
titanic[["sex", "age", "fare"]]

## Creating series and DFs

Each component of a series has a unique identification thanks to an index. It is possible to create new Series or DataFrames by using lists, arrays, dictionaries, and existing Series objects

In [ ]:
data = [1000, 2000, 3000, 4000, 5000]
s = pd.Series(data)
print(s)

In [ ]:
data = [1000, 2000, 3000, 4000, 5000]
df = pd.DataFrame(data, columns=['Column1'])
print(df)

In [ ]:
titanic.age

In [ ]:
titanic.age.equals(titanic["age"])

### Selecting Rows with Square Brackets (not advisable)

In [ ]:
titanic.head()

In [ ]:
titanic[0:1]

In [ ]:
titanic[4:8]

In [ ]:
titanic[:10]

In [ ]:
titanic[-10:]

### Indexing Operator iloc (location based indexing)

#### Selecting Rows with iloc

`.iloc[]` is an integer-location based indexing for selection by position. Is primarily integer position based (from 0 to length-1 of the axis), but may also be used with a boolean array.

In [ ]:
titanic.iloc[0]

In [ ]:
type(titanic.iloc[0])

In [ ]:
titanic.iloc[-1]

In [ ]:
titanic.iloc[:5]

In [ ]:
titanic.iloc[-5:]

In [ ]:
titanic.iloc[456:459]

In [ ]:
titanic.iloc[[2,45,765]]

In [ ]:
titanic.iloc[0,0:3]

In [ ]:
titanic.iloc[:,[0,2,6,8]]

In [ ]:
titanic.iloc[0,[0,2,6,8]]

In [ ]:
titanic.iloc[34:39,[0,2,6,8]]

#### Selecting Columns with iloc

In [ ]:
titanic.iloc[:, 0].equals(titanic.survived)

In [ ]:
titanic["survived"]

### Index Operator loc (label based indexing)

In [ ]:
medals = pd.read_csv("../Data/summer.csv", index_col="Athlete")

medals_wo_index = pd.read_csv("../Data/summer.csv")

In [ ]:
medals_wo_index.head()

In [ ]:
medals.head()

#### Selecting Rows with loc

With `.loc[]` you can ccess a group of rows and columns by label(s) or a boolean array. Is primarily label based, but may also be used with a boolean array.

In [ ]:
medals.loc["DRIVAS, Dimitrios"]

In [ ]:
medals.loc["PHELPS, Michael", "Medal"]

In [ ]:
medals.loc["PHELPS, Michael"].iloc[0]

#### Slicing Rows and Columns with loc

In [ ]:
medals.loc["PHELPS, Michael", ["Event","Medal"]]

In [ ]:
medals.loc[["PHELPS, Michael", "LEWIS, Carl"], ["Event","Medal"]]

In [ ]:
medals.loc["DRIVAS, Dimitrios":"BLAKE, Arthur"]

In [ ]:
medals.loc["HAJOS, Alfred", "Year":"Discipline"]

## Slicing errors

In case a label or column is not found, the `loc[]` method will raise errors

In [ ]:
medals.loc["PHELPS, Michael", ["Year", "Age"]]

In [ ]:
medals.loc["Other", ["Year", "City"]]

# BONUS!

Check the [iloc](../Bonus/pandas-iloc.pdf) and [loc](../Bonus/pandas-loc.pdf)  cheat sheet included!